body{
    font-family: Arial Black, sans-serif;
  background-color: black;
}
.container{
    width:auto ;
    height: 550px;
    margin:20px auto;
}
.calculator{
width: 320px;
height: 520px;
background-color: #eaedef;
margin: 0 auto;
top: 20px;
position: relative;
border-radius: 5px;
box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
height: 100px;
width: 313px;
font-size: 60px;
opacity: 0.8;
}

.operator, .number, .empty{
width: 60px;
height: 60px;
margin: 10px;
float: left;
border-radius: 10%;
border-width: 0;
font-weight: bold;
font-size: 15px;
border: 2px solid black;
}

.fat{
    width: 304px;
    height: 60px;
    margin: 10px;
    border-radius: 10%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;
    background-color: orange;
}
