.container {
    width: 700px;
    height: 600px;
    background-color: rgb(23, 31, 66);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.calculator {
    width: 300px;
    height: 475px;
    background-color: black;
    border-radius: 5px;
    align-items: center;
   
}
button {
    width: 60px;
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}
.num:hover {
    background-color: rgb(45, 61, 74);
    color: white;
}
input#display {
    width: 280px;
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin-left: 7px;
    margin-top: 10px;

    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 30px;
}
.fat
    {
        width: 130px;
        background-color: rgb(255, 159, 10);
    }
    .clar {
        width: 130px;
        background-color: white;
    }